---
// Aucune importation pour l'instant
import Layout from '../../layouts/Layout.astro';
import Title from '../../components/UI/Title.astro';
---

<Layout>
    <Title level={1} color="text-blue-500">Test Page</Title>
    <p>This is a test page.</p>
    <p>It contains information about the website.</p>
    <p>Feel free to explore!</p>
    <p>Test</p>
</Layout>