---
import CounterSolid from '../components/header';
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- logo voiture -->
		<link rel="icon" type="image/jpg" href="/logo.jpg" />
		<meta name="generator" content={Astro.generator} />
    	<CounterSolid client:load /> {/* Utilise client:load, client:visible ou client:only selon le besoin */}

		<title>CarWash</title>
	</head>
	<body>
		<slot />
	</body>
</html>
